@import "../shared/shared.less";

body {
  height: 100%;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;


  .about-panel {
    padding-top: 15px;

    .links {
      display: flex;
      flex-direction: row;

      .social-link {
        padding-left: 10px;
      }

      .item-hover {
        padding-left: 10px;
      }
    }

    .exp {

      .exp-bar-label {
        padding-top: 5px;
        padding-bottom: 5px;
      }

    }

  }

  .progress-bar {
    background-color: @secondary;
  }

  .progress {
    background-color: #E31B6D !important;
  }

  .about-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
    width: 100%;
    background-color: @white;

    .mid-icon {
      text-align: center;
      margin-left: 10px;
      margin-top: 5px;
    }

    .icon-container {
      display: block;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;

      .circle {
        display: flex;
        align-items: center;
        height: 105px;
        width: 105px;
        background-color: @secondary;
        border-radius: 50%;
        color: @third;
        margin-left: auto;
        margin-right: auto;

        .stack {
          margin-left: 18px;
        }

        .robot {
          margin-left: 13px;
        }
      }

      .middle-text {
        padding-top: 5px;
        font-weight: bold;
        text-align: center;
      }

      .middle-exp {
        width: 260px;
        padding-left: 15px;
      }
    }
  }

  .about-bottom {
    display: flex;
    flex-direction: row;
    padding: 50px 50px 50px 50px;

    .about-text {
      padding-top: 15px;
      text-align: center;
      width: 85%;
      padding-left: 120px;
    }
  }

}

.photo {
  height: 315px;
}

.octo, .octo div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.octo, .octo div {
  width: 270px;
  height: 270px;
}
.octo {
  transform: rotate(45deg);
}
.octo1 {
  transform: rotate(-45deg);
}
