<div class="about-content">
  <div class="header-top">
    <h1 class="header-h3">About</h1>
    <div class="header-bar linewidth-about"></div>
</div>
  <div class="about-middle">
    <div class="icon-container">
      <div class="circle">
          <i class="fas fa-chalkboard-teacher fa-4x mid-icon"></i>
      </div>
      <div class="middle-text">Mentor</div>
      <div class="middle-exp">I've been fortunate enough to be able to give back to the development community through mentoring junior developers. Seeing their success has been the most rewarding part of my career.</div>

      <div class="circle">
        <i class="fas fa-piggy-bank fa-4x mid-icon"></i>
      </div>
      <div class="middle-text">Ambitious</div>
      <div class="middle-exp">I learned early on that while knowledge can get you far, hard work gets you further. In my role as a Senior Developer, I take a lead from the trenches approach and am never afraid to roll up my sleeves and get to work.</div>

      <div class="circle">
        <i class="fas fa-layer-group stack fa-4x mid-icon"></i>
      </div>
      <div class="middle-text">Full Stack</div>
      From Front-end to Back-end and everything in between, I like to be involved in the full development process. By looking at the big-picture, I can anticipate potential problems and continuously improve projects on the fly.</div>

      <div class="circle">
        <i class="fas fa-robot robot fa-4x mid-icon"></i>
      </div>
      <div class="middle-text">Extracurriculars</div>
      <div class="middle-exp">In addition to the core CS skill set and high-level development design that I utilize in my day-to-day,through personal projects I have become well versed in the facets of cutting-edge concepts such as machine-learning, cyber-security, and cloud computing.</div>
  </div>
  <div class="about-bottom">
          <div class="col sm-col-9 about-left">
            <div class="octo">
              <div class="octo1">
                  <img class="photo" src={me}/>
              </div>
            </div>
            <div class="about-text">
              <h3 class="about-h1">Who's This Guy?</h3>
              I am a full stack developer who loves just about every language not named C.
              After spending years in the Rochester tundra, I was able to earn my undergrad from RIT.
              Once I moved to the tropics in Atlanta, I worked to obtain my Masters from Georgia Tech.
              I am also a pet enthusiast, and will always have multiple pets in my house at any given time.
              My parents raise Nubian Goats and Great Pyrenees puppies. One day I'll redo their website, but for now you can see it
              <span  class="item-hover" onClick={clickFarm}><i> here.</i></span>
              The baby's name is David and he is not mine, but is like a nephew to me.
              He currently loves keys, dinosaurs, and his fish tank.
          </div>
          </div>
      <div class="col about-right">
          <!-- <Fade right>
              < Experience />
          </Fade>
          <Fade bottom>
              < Social />
          </Fade> -->
      </div>
  </div>
</div>
