<div class="about-content">
  <div class="header-top">
    <h1 class="header-h3">About</h1>
    <div class="header-bar about-line"></div>
  </div>
  <div class="about-middle">
    <ng-template ngFor let-icon [ngForOf]="aboutIcons" let-i="index">
      <div class="icon-container">
        <div class="circle">
            <i ngClass="{{icon.faIcon}} fa-4x mid-icon"></i>
        </div>
        <div class="middle-text">{{icon.title}}</div>
        <div class="middle-exp">{{icon.exp}}</div>
      </div>
    </ng-template>
</div>
  <div class="about-bottom">
          <div class="col sm-col-9 about-left">
            <div class="octo">
              <div class="octo1">
                  <img class="photo" src="assets/images/me_new.jpg"/>
              </div>
            </div>
            <div class="about-text">
              <h3 class="about-h1">Who's This Guy?</h3>
              I am a full stack developer who loves just about every language not named C.
              After spending years in the Rochester tundra, I was able to earn my undergrad from RIT.
              Once I moved to the tropics in Atlanta, I worked to obtain my Masters from Georgia Tech.
              I am also a pet enthusiast, and will always have multiple pets in my house at any given time.
              My parents raise Nubian Goats and Great Pyrenees puppies. One day I'll redo their website, but for now you can see it
              <span  class="item-hover" (click)="clickFarm()"><i> here.</i></span>
              The baby's name is David and he is not mine, but is like a nephew to me.
              He currently loves keys, dinosaurs, and his fish tank.
          </div>
          </div>
      <div class="col about-right">
        <div className="about-panel">
          <h3 className="home-h3">Experience</h3>
          <div className="exp">
            <ng-template ngFor let-exp [ngForOf]="experience" let-i="index">
              <div class="progress-bar-wrapper">
                <div class="progress-bar" [ngStyle]="getStyle(exp.years)">{{exp.language}}</div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="about-panel">
          <h3 class="home-h3">Social</h3>
          <div class="links">
              <div class="item-hover" (click)="onLinkedInClick()">
                  <i class="fab fa-linkedin-in fa-2x icon"></i>
                  <span class="h5 header-font social-link">LinkedIn</span>
              </div>
              <div class="item-hover" (click)="onGithubClick()">
                  <i class="fab fa-github-alt fa-2x icon" aria-hidden="true"></i>
                  <span class="h5 header-font social-link">Github</span>
              </div>
              <div class="item-hover" (click)="onBitbucketClick()">
                  <i class="fab fa-bitbucket fa-2x icon" aria-hidden="true"></i>
                  <span class="h5 header-font social-link">Bitbucket</span>
              </div>
              <div class="item-hover" (click)="onStackOverflowClick()">
                  <i class="fab fa-stack-overflow fa-2x icon"></i>
                  <span class="h5 header-font social-link">Stack Overflow</span>
              </div>
              <div class="item-hover" (click)="onFacebookClick()">
                  <i class="fab fa-facebook fa-2x icon"></i>
                  <span class="h5 header-font social-link">Facebook</span>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
